<%- include('includes/head') %>
  <section class="container">
    <h1>

      <%= titulo %>

    </h1>
    <form action="/" method="post">
      <label for="">Cliente</label>
      <input type="text" name="cliente">
      <button>submit</button>
    </form>
  </section>
<%- include('includes/footer')%>
  